<h1>Article#show</h1>
<strong>Title:</strong>
<p><%= @article.title.to_s %> </p>
<strong>Text:</strong>
<p><%= @article.text%> </p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a new comment</h2>
<%= render 'comments/form' %>

<%= link_to "All Articles", articles_path %>
